

.hero {
    /* background-image: url("images/main-hero-banner.jpeg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right; */
    max-width: 1000px;
    margin: 0 auto;
    padding: 35 px;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}